.quotesTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.quotesTable th,
.quotesTable td {
  border-bottom: 1px solid var(--borde-suave);
  padding: 0.8rem 1rem;
  text-align: left;
}

.quotesTable th {
  font-weight: 600;
}

.status {
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
}

.borrador {
  background-color: #888;
}
.enviada {
  background-color: #024f7d;
}
.aceptada {
  background-color: #28a745;
}
.rechazada {
  background-color: var(--warning);
}
